#loadingSpinner {
    border-top-color: transparent;
}

/* sm:w-full sm:h-full md:w-3/4 md:h-3/4 2xl:w-1/2 2xl:h-1/2  */
#imageContainer {
    max-width: 800px;
    max-height: 800px;
}

@media only screen and (max-width: 500px) {
    #imageContainer {
        width: 90%;
        margin: 2px;
        margin-bottom: 10px;
    }
}

/* @media only screen and (max-width: 600px) {
    #imageContainer {
        margin-inline: 30px;
    }
} */
