@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-behavior: smooth;
  
  font-family: var(--font-main, --font-hero);
  --font-main: 'Poppins', sans-serif;
  --font-hero: 'Roboto', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgb(0 0 0 / 0.3),rgb(0 0 0 / 0.7)), url(../public/hero_bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}
