/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////// MAIN PAGE ///////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#navbarBackground {
  display: flex;
  background: rgb(10 15 45 / 0.2);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.5rem);
  /* background-blend-mode: luminosity; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

#heroText h1 {
  padding-bottom: 20px;
  line-height: 120%;
}

@media only screen and (max-width:765px) {
  #heroText h1 {
    padding-top: 3rem;
    font-size: 5rem;
    padding-bottom: 10px;
  }

  #heroText h2 {
    font-size: 4rem;
  }

  #faqContainer {
    width: 90vw;
  }
}

@media only screen and (max-width:525px) {
  #heroText h1 {
    font-size: 4em;
  }

  #heroText h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width:425px) {
  #heroText h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width:320px) {
  #heroText h1 {
    font-size: 2.5em;
  }

  #heroText h2 {
    font-size: 2em;
  }
}


/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////// IMAGE GENERATION PAGE /////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */

#imageContainer {
  max-width: 800px;
}

#imageContainer img {
  max-height: 800px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  #imageContainer {
      width: 90%;
      margin: 2px;
      margin-bottom: 10px;
  }

  #imageContainerRow {
    flex-direction: column;
    padding-top: 10px;
  }

  #iconButton {
    padding-top: 20px;
  }
}
