/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////// MAIN PAGE ///////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#navbarBackground {
  display: flex;
  background: rgb(0 0 0 / 0.1);
  backdrop-filter: blur(0.4rem);
  /* backdrop-filter: opacity(1);   */
  -webkit-backdrop-filter: blur(5rem);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

#navbarLogo {
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

#heroText h1 {
  font-size: 4em;
}

#faqContainer {
  width: 50vw;
}

@media only screen and (max-width:765px) {
  #heroText h1 {
    padding-top: 3rem;
  }

  #navbarLogo {
    width: 50px;
    height: 50px;
  }

  #faqContainer {
    width: 90vw;
  }
}

@media only screen and (max-width:425px) {
  #heroText h1 {
    font-size: 3em;
  }

  #heroText h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width:320px) {
  #heroText h1 {
    font-size: 2.5em;
  }

  #heroText h2 {
    font-size: 2em;
  }
}


/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////// IMAGE GENERATION PAGE /////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */
/*///////////////////////////////////////////////////////////////////////////// */

/* #loadingSpinner {
  border-top-color: transparent;
  animation-name: loadingSpinner;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} */
/* 
@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg), scale(1.2);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: rotate(360deg), scale(1.2);
  }
} */

#imageContainer {
  max-width: 800px;
  max-height: 800px;
}

@media only screen and (max-width: 500px) {
  #imageContainer {
      width: 90%;
      margin: 2px;
      margin-bottom: 10px;
  }
}
